div.display-box
  div.wrapper
    iframe(width="853", height="480", src="http://www.youtube.com/embed/UXQDYYNUPgc?rel=0", frameborder="0", allowfullscreen)
section#what
  include includes/nav
  h3 What does it do?
  div.column.clearfix
    :markdown
      Testing motion events was never going to be easy task. You have two options, both of which suck.
      
      If you decide to use a mobile device equipped with an accelerometer you'll be left stranded without your favourite debugging tools.

      Alternatively, if you decide to develop on your favourite computer you will find yourself up motion event creek without an accelerometer.
      
      That's where Remote-Tilt comes in. By including a single line of JavaScript you can emulate device motion events in your test page which can either be a regular browser or even a mobile emulator.

    a.button.button-right.arrow.down(href="#how") Find out more
section#how
  section#node
    h3 Want to Node?
    :markdown
      Want to know how this was built? Want to have the skills to build this yourself?

      Join @rem's [Node workshop in March](http://leftlogic.com/training?ref=remote-tilt#node)
  include includes/nav
  h3 How does it work?
  pre
    code #{'<script src="http://remote-tilt.com/js/device-motion-polyfill.js"></script>'}
  div.column.clearfix
    :markdown
      Using Remote-Tilt polyfill is easy! All you have to do is add a single JavaScript include to the pages you wish to test.
      
      When you refresh your browser, it will either open a popup or notify you that it couldn't open the popup and give you the option as to how to continue.

      If you enable popups, a small window will open that allows you to send motion events to your page. If you don't open the popup, you'll be given a key that can be entered in this site to create a separate window that can remotely send the motion events.

      The advantage of using the remote key, is that you can open [`http://remote-tilt.com/MY_REMOTE_KEY`](#how) on a mobile device like an iPhone (which does have native support for motion events) and these will be sent from your phone to your test page.

      You can also specify your own remote key if don't want to use the randomly generated key each time. Simply append this to the script include and this will automatically be used as your remote key as follows.
    
          <script src="device-motion-polyfill.js?key=MY_REMOTE_KEY"></script>
      
      In your JavaScript code you can bind to the `DeviceMotionEvent` or `DeviceOrientationEvent` as you would normally do:

          window.addEventListener('deviceorientation', function (event) {
            tilt(event.beta);
            rotate(event.gamma);
          }, false);
      
      ### Support

      ![Supported browser logos](/images/browser_logos-32.png)

    ul
      li Chrome
      li Safari
      li Opera
      li Firefox (thanks to 
        a(href="https://github.com/remy/remote-tilt/pull/2") @louisremi
        )

    p
      small IE9 testing needs to be added.

    a.button.button-right.arrow.down(href="/js/device-motion-polyfill.js") Download JS
section#who
  include includes/nav
  h3 Who made it?
  div.column.clearfix
    :markdown
      Development of the Remote-Tilt Polyfill and all backend code by [Remy Sharp](http://remysharp.com).
      
      Remy is a developer running [Left logic](http://leftlogic.com), a [speaker](http://lanyrd.com/profile/rem/), an [author](http://introducinghtml5.com), a [proud father](http://remysharp.com/ellis) and a [Part-time Doctor](http://html5doctor.com).
      
    p.break
      a.button.arrow.right(href="http://twitter.com/rem") Follow @rem

    :markdown
      User Interface design and development for this site by [Chris Bewick](http://www.linkedin.com/in/chrisbewick).
      
      By day Chris leads the UI Team at [Yell.com](http://www.yell.com), by night he occasionally [blogs](http://chrisbewick.com/blog) and is an [wannabe luthier](http://chrisbewick.com/telecastle).
    
    p
      a.button.arrow.right(href="http://twitter.com/stompfrog") Follow @stompfrog
section#demos
  include includes/nav
  h3 See it in action!
  :markdown
    * [All data values](/demos/event-details.html)
    * [Rolling ball around the screen](http://rem.io/run-away.html)
    * [Asteroids with motion](/demos/asteroids.html)
    * [HTML5 Rock's device motion demo](/demos/html5rocks.html)
    
    If you've got a cool example that uses motion events, [send me a message](http://github.com/remy/remote-tilt/issues) and I'll add it the list above.
